<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show</title>
  </head>
  <body>
    <nav>
      <h1>Welcome to Storytime</h1>
      <ul>
        <li>
          <a href="/user">Users</a>
        </li>
        <li>
          <a href="/story">Story Library</a>
        </li>
        <li>
          <a href="/story/new">Add a New Story</a>
        </li>
      </ul>
    </nav>
    <main>
      <section>
        <h2>Story Data</h2>
        <a href="/story/<%= story._id %>/edit">Edit</a>
        <ul>
          <li>Title: <%= story.title %></li>
          <li>Body: <%= story.body %></li>
        </ul>
      </section>
      <form action="/story/<%= story._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete" />
      </form>
    </main>
  </body>
</html>
