<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Storytime</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Fixed navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <!-- <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </nav>

    <ul>
      <a href="/register">Register</a>
  <br>
      <a href="/login">Login</a>
  <br>
      <a href="/story">Story Library</a>
  <br>
</ul>

  </body>
  </html>

  <style>
    body{
        /* padding-top: 50px; */
        font-family: 'Poiret One', cursive;
        background-color: rgba(20,20,20,1);
        color: rgba(220,220,220,8);
        text-shadow: 2px 2px 5px black;
    }

a:link {
  color: whitesmoke;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: whitesmoke;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #b30000;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: whitesmoke;
  background-color: transparent;
  text-decoration: underline;
}
</style>

