<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storytime - Homepage</title>
</head>
<body>
    <ul>
        <!-- <li>
            <a href="/">Home</a>
        </li> -->
        <li>
            <a href="/register">Register</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="/user">Users</a>
        </li>
        <li>
            <a href="/story">Story Library</a>
        </li>
    </ul>
    <h1>Welcome to Storytime</h1>
</body>
</html>
