<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Views Index - Homepage</title>
</head>
<body>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/register">Register</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="/">???</a>
        </li>
        <li>
            <a href="/">???</a>
        </li>
    </ul>
    <h1>Views Index - Homepage</h1>
</body>
</html>
