<head>
    <%- include('./partials/header') %>
      <title>Storytime - Homepage</title>
</head>

<body> <br><br><br><br>
    <h1>Welcome to Storytime</h1><br><br>
    <h5>Please Login or create an account to enter the Library</h5>
    <!-- <ul>
            <a href="/register">Register</a>
        <br>
            <a href="/login">Login</a>
        <br>
            <a href="/story">Story Library</a>
        <br>
    </ul> -->
    
<!-- <div>
    <ul>
        for()
            <li>
                <div class="card" style="width: 18rem;">
                    <img src= <#= story.img %> class="card-img-top" alt= <#= story.title %> >
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </li>
    </ul>
</div> -->
    

</body>
</html>
