<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiverse Venture</title>
</head>
<body>
    <nav>
        <h1>Multiverse Venture</h1>
        
    </nav>
    
    <main>
        <ul>
            <li>
                <a href="/">Play</a>
            </li>
            <li>
                <a href="/">Instructions</a>
            </li>
        </ul>
    </main>
</body>
</html>
