<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Story</title>
</head>
<body>
    <h1>Show Story</h1>
</body>
</html>
